In [21]:
import pandas as pd

In [22]:
def load_data(file_path):
    return pd.read_csv(file_path)

In [23]:
file_path = "F:\working project\Flight_Fare_Prediction\data\processed\processed_data.csv"

In [24]:
processed_raw_data = load_data(file_path)

In [25]:
processed_raw_data.columns

Index(['Total_Stops', 'Price', 'journey_Date', 'journey_Month', 'Dep_hour',
       'Dep_min', 'Arrival_hour', 'Arrival_min', 'Duration_hours',
       'Duration_mins', 'Air Asia', 'Air India', 'GoAir', 'IndiGo',
       'Jet Airways', 'Jet Airways Business', 'Multiple carriers',
       'Multiple carriers Premium economy', 'SpiceJet', 'Trujet', 'Vistara',
       'Vistara Premium economy', 'Chennai', 'Delhi', 'Kolkata', 'Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi'],
      dtype='object')

In [33]:
pdf = processed_raw_data[['Total_Stops', 'Price', 'journey_Month', 'Dep_hour','Arrival_hour','Duration_hours']]

In [31]:
file_path_2 = r"F:\working project\Flight_Fare_Prediction\data\rawdata\flight_fare_prediction.csv"

In [32]:
import os
df = load_data(file_path_2)

In [35]:
pdf.loc[:, 'Airline'] = df['Airline']

In [36]:
pdf.columns

Index(['Total_Stops', 'Price', 'journey_Month', 'Dep_hour', 'Arrival_hour',
       'Duration_hours', 'Airline'],
      dtype='object')

In [37]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Total_Stops     10682 non-null  int64
 1   Price           10682 non-null  int64
 2   journey_Month   10682 non-null  int64
 3   Dep_hour        10682 non-null  int64
 4   Arrival_hour    10682 non-null  int64
 5   Duration_hours  10682 non-null  int64
 6   Airline         10682 non-null  object
dtypes: int64(6), object(1)
memory usage: 584.3+ KB

In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

def load_data(file_path):
    return pd.read_csv(file_path)

def split_data(data, test_size=0.2):
    data = data[['Total_Stops', 'Price', 'journey_Month', 'Dep_hour', 'Arrival_hour', 'Duration_hours', 'Airline']]
    train_data, test_data = train_test_split(data, test_size=test_size, random_state=42)
    return train_data, test_data

def save_data(train_data, test_data, train_file_path, test_file_path):
    train_data.to_csv(train_file_path, index=False)
    test_data.to_csv(test_file_path, index=False)
    
if __name__ == "__main__":
    # Define file paths
    file_path_p = r"F:\working project\Flight_Fare_Prediction\data\processed\processed_data.csv"
    file_path_r = r"F:\working project\Flight_Fare_Prediction\data\rawdata\flight_fare_prediction.csv"
    
    # Load data
    raw_data_p = load_data(file_path_p)
    raw_data_r = load_data(file_path_r)
    
    # Select relevant columns and add the 'Airline' column
    rdp = raw_data_p[['Total_Stops', 'Price', 'journey_Month', 'Dep_hour', 'Arrival_hour', 'Duration_hours']]
    rdp.loc[:, 'Airline'] = raw_data_r['Airline']
    
    # Split the data
    train_data, test_data = split_data(rdp)

C:\Users\Md Mojammil\AppData\Local\Temp\ipykernel_10068\2625460763.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdp.loc[:, 'Airline'] = raw_data_r['Airline']

In [2]:
 train_data

,Total_Stops,Price,journey_Month,Dep_hour,Arrival_hour,Duration_hours,Airline
10004,1,9149,5,8,19,10,Vistara
3684,1,12373,5,11,12,25,Jet Airways
1034,1,5583,4,15,22,6,SpiceJet
3909,1,7695,3,12,1,12,Multiple carriers
3088,2,11972,6,17,19,26,Air India
...,...,...,...,...,...,...,...
5734,1,12242,3,9,4,19,Jet Airways
5191,1,10844,5,14,20,6,Jet Airways
5390,1,7670,5,12,1,12,Multiple carriers
860,0,6144,3,0,3,2,IndiGo
7270,1,10262,6,13,4,15,Jet Airways

In [3]:
test_data

,Total_Stops,Price,journey_Month,Dep_hour,Arrival_hour,Duration_hours,Airline
6075,2,16655,5,15,1,10,Multiple carriers
3544,1,4959,6,10,19,9,GoAir
9290,1,9187,5,20,9,12,Jet Airways
5032,0,3858,5,14,17,2,IndiGo
2483,1,12898,5,22,4,5,Jet Airways
...,...,...,...,...,...,...,...
9796,1,7408,6,8,21,13,Jet Airways
9870,0,4622,3,17,19,2,Jet Airways
10062,1,7452,4,7,22,14,Jet Airways
8802,1,8824,3,6,23,16,Jet Airways
8617,1,14151,6,17,23,6,Jet Airways

In [9]:
tndf = pd.read_csv(r'F:\working project\Flight_Fare_Prediction\data\traindata\train_data.csv')

In [10]:
tndf.columns

Index(['Total_Stops', 'Price', 'journey_Month', 'Dep_hour', 'Arrival_hour',
       'Duration_hours', 'Airline'],
      dtype='object')

In [12]:
tndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8545 entries, 0 to 8544
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Total_Stops     8545 non-null   int64
 1   Price           8545 non-null   int64
 2   journey_Month   8545 non-null   int64
 3   Dep_hour        8545 non-null   int64
 4   Arrival_hour    8545 non-null   int64
 5   Duration_hours  8545 non-null   int64
 6   Airline         8545 non-null   object
dtypes: int64(6), object(1)
memory usage: 467.4+ KB

In [11]:
train_data  = tndf[['Total_Stops', 'journey_Month', 'Dep_hour', 'Arrival_hour','Duration_hours', 'Airline']]

In [8]:
train_data

,Total_Stops,journey_Month,Dep_hour,Arrival_hour,Duration_hours,Airline
0,1,5,8,19,10,Vistara
1,1,5,11,12,25,Jet Airways
2,1,4,15,22,6,SpiceJet
3,1,3,12,1,12,Multiple carriers
4,2,6,17,19,26,Air India
...,...,...,...,...,...,...
8540,1,3,9,4,19,Jet Airways
8541,1,5,14,20,6,Jet Airways
8542,1,5,12,1,12,Multiple carriers
8543,0,3,0,3,2,IndiGo
8544,1,6,13,4,15,Jet Airways

In [13]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import joblib
import os

def train_model(preprocessor, X_train, y_train):
    # Transform the data using the preprocessor
    X_train_processed = preprocessor.transform(X_train)
    model = RandomForestRegressor(n_estimators=100, random_state=42)
    model.fit(X_train_processed, y_train)
    return model

def save_model(model, model_file_path):
    joblib.dump(model, model_file_path)

In [14]:
# Load the training data
train_data = pd.read_csv(r'F:\working project\Flight_Fare_Prediction\data\traindata\train_data.csv')
train_data = train_data[['Total_Stops', 'Airline', 'journey_Month', 'Dep_hour', 'Arrival_hour', 'Duration_hours']]

In [15]:
train_data

,Total_Stops,Airline,journey_Month,Dep_hour,Arrival_hour,Duration_hours
0,1,Vistara,5,8,19,10
1,1,Jet Airways,5,11,12,25
2,1,SpiceJet,4,15,22,6
3,1,Multiple carriers,3,12,1,12
4,2,Air India,6,17,19,26
...,...,...,...,...,...,...
8540,1,Jet Airways,3,9,4,19
8541,1,Jet Airways,5,14,20,6
8542,1,Multiple carriers,5,12,1,12
8543,0,IndiGo,3,0,3,2
8544,1,Jet Airways,6,13,4,15

In [18]:
def train_model(preprocessor, X_train, y_train):
    # Transform the data using the preprocessor
    X_train_processed = preprocessor.transform(X_train)
    model = RandomForestRegressor(n_estimators=100, random_state=42)
    model.fit(X_train_processed, y_train)
    return model

def save_model(model, model_file_path):
    joblib.dump(model, model_file_path)